<h2>Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.text_field :username, autofocus: true, autocomplete: "username", value: resource.username, placeholder: true, "aria-label": :username %>
  </div>

  <%= render "devise/shared/links" %>

  <div class="actions">
    <%= f.submit "Resend confirmation instructions" , class: "btn btn-l btn-primary" %>
  </div>
<% end %>

