<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @tag.text %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @tag.slug %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
